
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Capriola');


html, body {
	height: 100%;
	widht: 100%
	margin: 0 auto
  max-width: 1680px;	

}

img {
    max-width: 100%;
}

.hero-image {
	background-image: linear-gradient(
	  rgba(0, 0, 0, 0.5),
	  rgba(39, 128, 185, 0.7)),
    url("../images/startup-life.jpg");

	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.hero-image .button-outline {
	color:white;
	border-color: white;
}

.hero-image .button-outline:hover {
	color:white;
	border-color: rgba(31, 42, 71, 1);
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.hero-text .cursive {
	font-family: 'Pacifico';
	font-size: 5.5em;
}

.section-destaques-container {
	
	display: flex;
	align-items: center;
	justify-content: space-around;

	background-image: linear-gradient(
		rgba(255, 255, 255, 1),
	  rgba(255, 255, 255, 1));
	color: rgba(31, 58, 147, 1);
	text-align: center;

	padding: 1em;
}

.destaques-column-1 h1{
	vertical-align: middle;
	font-family: 'Pacifico';
}

.destaques-column-1 li {
	font-weight: bold;
}

.destaques-column-1 .button {
	background-image: linear-gradient(
		rgba(31, 58, 147, 1),
	  rgba(31, 58, 147, 1));
}

.destaques-column-1 .button:hover {
	background-image: linear-gradient(
		rgba(31, 42, 71, 1),
	  rgba(31, 42, 71, 1));
}

.section-ramais-container {
	
	background-image: linear-gradient(
		rgba(31, 58, 147, 1),
	  rgba(31, 58, 147, 1));
	padding-top: 2em;
	color: white;
	text-align: center;

}


table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header{
	background-color: rgba(255,255,255,0.3);
}

.tbl-content {
	height: 350px;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px dashed rgba(255,255,255,0.3);
}

th{
	padding: 20px 15px;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;

}

td{
	padding: 15px;
	text-align: center;
	vertical-align: middle;
	font-size: 0.75em;
	color: #fff;
	border-bottom: solid 1px rgba(255,255,255,0.1);
}

.fa-gradient {
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*Scrollbar (webkit only) */

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/*MEDIA QUERIES */

@media (max-width: 768px) {

.section-destaques-container {
	
	display: flex;
	flex-direction: column;

	background-image: linear-gradient(
		rgba(255, 255, 255, 1),
	  rgba(255, 255, 255, 1));
	color: rgba(31, 58, 147, 1);
	text-align: center;
	height: 100%;
	padding: 1em;
}

table {
	width: 100%;
	table-layout: auto;
}

}